---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import Cosmos from "assets/cosmos1.png";
import Akash from "assets/ak.jpg";
import Quicksilver from "assets/quicksilver.jpg";
import Link from "@components/ui/link.astro";
import vitwit from "assets/vw11.jpg";
import Stargaze from "assets/stargaze.png";
import Tgrade from "assets/Tgrade.png";
import Desmos from "assets/desmos.png";
import Juno from "assets/juno.jpeg";
import Regen from "assets/regen.webp";
import Osmosis from "assets/osmosis.jpeg";
import Omniflix from "assets/omniflix.jpeg";
import Agoric from "assets/agoric.png";
import Umee from "assets/Umee.jpeg";


---

  <div class="mt-16 md:mt-0">
  <div class="temp">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Networks we support:
  </h2>
  
  </div>
</div>
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
  



<style>
  .img {
    padding:50px; 
     width: 200px;
  height: 200px;
   border: 5px solid black;
   margin: 50px
  }
  
</style>


  <div class="abc">
  <table>
  <tr>
    <td style="padding-left: 400px;"> 
     
      <Picture
      src={Cosmos}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
    />
    
    <br>
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/cosmos">Cosmos</a> </span>
              
    </a>
   </td>
   <td> 
      
      <Picture
      src={Akash}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
      
    />
    
    <br>
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/akash">Akash</a> </span>
              
    </a>
   </td>
    <td> 
      
      <Picture
      src={Quicksilver}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
    />
    <br>
     <span style="margin-left: 100px;font-weight: bold;"><a href ="/quicksilver">Quicksilver</a> </span>
              
    </a>
   </td>
     <td> 
      
      <Picture
      src={Juno}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
      
    />
    
    <br>
    <!-- <span style="margin-left: 110px;font-weight: bold;"><a href ="myProjectName/src/pages/juno.astro">Juno</a> </span> -->
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/juno">Juno</a> </span>
              
    </a>
   </td>
   </tr>
   <tr>
   <td style="padding-left: 400px;"> 
     <!-- a href="src/components/Tgrade.astro"> -->
      <Picture
      src={Tgrade}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="10:2"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
    />
    
    <br>
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/tgrade">Tgrade</a> </span>
              
    </a>
   </td>
   <td> 
      
      <Picture
      src={Stargaze}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
      
    />
    
    <br>
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/stargaze">Stargaze</a> </span>
              
    </a>
   </td>
    <td> 
     
      <Picture
      src={Desmos}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif" 
      class="img"
      
      
    />
    <br>
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/desmos">Desmos</a> </span>
              
    </a>
   </td>
     <td> 
      
      <Picture
      src={Regen}
      alt="image"
      widths={[700,700, 700]}
      aspectRatio="1:1"
      sizes="(max-width: 300px) 30vw, 400px"
      loading="eager"
      format="avif"
      class="img"
      
      
      
    />
    
    <br>
     <span style="margin-left: 110px;font-weight: bold;"><a href ="/regen">Regen</a> </span>
              
    </a>
   </td>

   </tr>
   <tr>
    
      
      <tr>
        <!-- <td style="padding-left: 400px;"> 
         
          <Picture
          src={Agoric}
          alt="image"
          widths={[700,700, 700]}
          aspectRatio="1:1"
          sizes="(max-width: 300px) 30vw, 400px"
          loading="eager"
          format="avif"
          class="img"
          
          
        />
        
        <br>
         <span style="margin-left: 110px;font-weight: bold;"><a href ="/agoric">Agoric</a> </span>
                  
        </a>
       </td>
   <td>  -->
    <td style="padding-left: 400px;">  
    <Picture
    src={Omniflix}
    alt="image"
    widths={[700,700, 700]}
    aspectRatio="1:1"
    sizes="(max-width: 300px) 30vw, 400px"
    loading="eager"
    format="avif"
    class="img"
    
    
    
  />
  
  <br>
   <span style="margin-left: 110px;font-weight: bold;"><a href ="/omniflix">Omniflix</a> </span>
            
  </a>
 </td>
 <td> 
      
  <Picture
  src={Umee}
  alt="image"
  widths={[700,700, 700]}
  aspectRatio="1:1"
  sizes="(max-width: 300px) 30vw, 400px"
  loading="eager"
  format="avif"
  class="img"
  
  
  
/>

<br>
 <span style="margin-left: 120px;font-weight: bold;"><a href ="/umee">Umee</a> </span>
          
</a>
</td>
 <!-- <td> 
      
  <Picture
  src={Osmosis}
  alt="image"
  widths={[700,700, 700]}
  aspectRatio="1:1"
  sizes="(max-width: 300px) 30vw, 400px"
  loading="eager"
  format="avif"
  class="img"
  
  
  
/>

<br>
 <span style="margin-left: 110px;font-weight: bold;"><a href ="/osmosis">Osmosis</a> </span>
          
</a>
</td> -->

   </tr>
   </table>
   </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
